.single-user{
    display: flex;
    width: 350px;
    background-color: rgb(149,162,175);
    color: #00152A;
    border-radius:30px;
    margin:20px;
    padding: 10px 10px;
}
.single-user:hover{
    background-color: #1678ff;
}
.single-user img{
    margin-right: 40px;
    border-radius: 60%;
    width: 100px;

}

.single-user .user-location{
    margin: auto;
    padding: 5px 5px;
    font-weight: bold;
}
